

.quantity-btn {
    background: #f9f9f9;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
.woocommerce .quantity .qty {
    width: 80px !important;
    text-align: center;
    vertical-align: initial;
}
#order_review button.quantity-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    vertical-align: top;
    padding: 2px;
}
#order_review input.qty  {
    width: 70px !important;
    height: 30px;
}